@import "./reset";
@import "./mixins";
@import "./variables";

body {
	height: 100vh;
	background: url(../images/SPOILER_sven-fischer-V7WkmXntA8M-unsplash.jpg)
		center top/ cover no-repeat;
}

// Header
header {
	@include flexElement(center, space-between);
	position: fixed;
	width: 100%;
	padding: 3rem 6rem;
	h1 {
		margin-left: 3rem;
		font-family: "Raleway", sans-serif;
		font-size: 3.6rem;
		font-weight: 600;
		color: $greenClr;
	}
	button {
		padding: 1.8rem 2em;
		background-color: $lightClr;
		border-radius: 2rem;
		position: relative;
		overflow: hidden;
		&:hover {
			box-shadow: inset 0 0 3px $greenClr;
			border-radius: 2rem 2rem 0 0;
		}
		&::after {
			@include transition;
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 0;
			background-color: $greenClr;
		}
		&:hover::after {
			height: 0.5rem;
		}
		span {
			font-size: 2rem;
			color: $greenClr;
		}
		i {
			font-size: 2.2rem;
			color: $redClr;
		}
	}
}
// end Header

// Main
main {
	@include flexElement(center, center);
	height: 100vh;
	form {
		@include flexElement(center, space-between);
		width: 98%;
		max-width: 850px;
		padding: 2.5rem 3rem;
		background-color: $lightClr;
		border-radius: 2rem;
		font-size: 1.8rem;
		.form-item {
			@include flexElement(center, center, column);
			width: 25%;
			&:nth-child(2) {
				border-right: 2px solid $darkGrayClr;
				border-left: 2px solid $darkGrayClr;
			}
			label {
				color: $darkGrayClr;
			}
			input {
				width: 100%;
				margin-top: 1rem;
				font-size: 1.6rem;
				text-align: center;
				color: $lightGrayClr;
				&[type="date"] {
					position: relative;
					height: 18.4px;
					font-family: "roboto", sans-serif;
					&::-webkit-calendar-picker-indicator {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						width: auto;
						height: auto;
						color: transparent;
						background: transparent;
						cursor: pointer;
					}
				}
				&[type="search"]::-webkit-search-cancel-button {
					-webkit-appearance: none;
				}
			}
		}
		button {
			position: relative;
			height: 100%;
			padding: 1.5rem 4rem;
			font-size: 2rem;
			background-color: $greenClr;
			color: $lightClr;
			border: 3px solid $greenClr;
			border-radius: 1.3rem;
			@include transition;
			&:hover {
				background-color: $lightClr;
				color: $greenClr;
				&::after {
					content: "";
					position: absolute;
					left: 50%;
					top: 50%;
					width: 92%;
					height: 80%;
					transform: translate(-50%, -50%);
					border: 2px solid $greenClr;
					border-radius: 1rem;
					box-shadow: 0 0 8px $greenClr;
				}
			}
		}
	}
}
// end Main
