@import "./reset";
@import "./variables";
@import "./mixins";

@include keyFrames(scaleUp) {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.15);
	}
	100% {
		transform: scale(1);
	}
}

main {
	height: 100vh;
	width: 100vw;
	@include flexElement(center, center, column);
	background: url(../images/patrick-ryan-3kUIaB2EPp8-unsplash.jpg) center/cover
		no-repeat;
}
form {
	width: 400px;
	padding: 4rem 2rem 2rem 2rem;
	background: linear-gradient(
		135deg,
		rgba(207, 217, 223, 0.8) 0%,
		rgba(226, 235, 240, 0.8) 100%
	);
	border-radius: 2rem;
	* {
		font-size: 1.8rem;
	}
	.flex-col {
		@include flexElement(start, center, column);
	}
	.flex-row {
		@include flexElement(baseline, flex-start);
	}
	.flex-center {
		@include flexElement(baseline, center);
	}
	.form-item {
		width: 100%;
		position: relative;
		&:not(:last-child) {
			margin-bottom: 1.4rem;
		}
		.input-div {
			position: relative;
			width: 100%;
			overflow: hidden;
			border-radius: 1.5rem;
			.vertical-line {
				position: absolute;
				bottom: 0;
				display: block;
				width: 0;
				height: 100%;
				background-color: $darkBlueClr;
				opacity: 0.6;
				@include transition;
			}
			input:focus ~ .vertical-line {
				width: 1rem;
			}
		}
		input.w-100 {
			width: 100%;
			padding: 1.6rem 2rem;
			border-radius: 1.5rem;
		}
		input[type="submit"] {
			width: 90%;
			padding: 1.6rem;
			background-color: $darkBlueClr;
			color: $lightClr;
			border-radius: 1rem;
			cursor: pointer;
			@include transition;
			&:hover {
				background-color: darken($color: $darkBlueClr, $amount: 5%);
			}
		}
		input[type="checkbox"] {
			position: absolute;
			width: 0;
			height: 0;
			opacity: 0;
			&:checked ~ .checkbox-checkmark {
				background: $darkBlueClr;
				border: 3px solid $lightClr;
				animation: scaleUp 200ms ease-in-out;
			}
		}
		input[type="radio"] {
			position: absolute;
			width: 0;
			height: 0;
			opacity: 0;
			&:checked ~ .radio-checkmark {
				background: $darkBlueClr;
				animation: scaleUp 200ms ease-in-out;
			}
		}
		input[type="date"] {
			font-family: "Roboto", sans-serif;
			color: $darkGrayClr;
			position: relative;
			cursor: pointer;
			&::-webkit-calendar-picker-indicator {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: auto;
				height: auto;
				color: transparent;
				background: transparent;
				cursor: pointer;
			}
		}
		// costumize checkmark of radio buttons and checkboxes
		.checkbox-checkmark {
			position: relative;
			display: inline-block;
			top: 5%;
			left: 0;
			width: 1.6rem;
			height: 1.6rem;
			border-radius: 25%;
			background: linear-gradient(145deg, #9c9696, #837e7e);
			box-shadow: 20px 20px 60px #7c7777, -20px -20px 60px #a8a1a1;
		}
		.radio-checkmark {
			position: relative;
			display: inline-block;
			width: 1.5rem;
			height: 1.5rem;
			margin-right: 0.5rem;
			border-radius: 100%;
			background-color: $lightClr;
			border: 2px solid $darkGrayClr;
		}
		// end costumize checkmark of radio buttons and checkboxes
		label:not(.gender-opt):not([for="agree-to-terms"]) {
			margin-bottom: 1rem;
			margin-left: 1rem;
			&[for$="male"] {
				cursor: pointer;
				color: $darkGrayClr;
			}
		}
		label[for="agree-to-terms"] {
			margin-top: 3rem;
			cursor: pointer;
			text-transform: initial;
		}
		#gender-div {
			@include flexElement(baseline, flex-start);
			.gender-opt {
				position: relative;
				padding: 1.5rem 2.5rem;
				background-color: $lightGrayClr;
				border-radius: 1.5rem;
				&:first-child {
					margin-right: 1rem;
				}
			}
		}
	}
}

@import "./media-queries";
