$ligth-color: #fff;
$dark-color: #303030;
$ligth-gray-color: #aaa;
$dark-gray-color: #515151;
$ligth-blue-color: #3498db;
$dark-blue-color: #2a73a3;
$bg-red-color: #fbf1ed;
$twitter-color: #1d9bf0;
$facebook-color: #4867aa;
$youtube-color: #ff0000;
$linkedin-color: #0077b5;
