@import "./resets";
@import "./varaiables";
@import "./mixins";

// section: header
header {
	height: 100vh;
	background: url(../images/hero.jpg) center 65% / cover no-repeat;
}

#header-nav {
	@include flexElement(center, space-between);
	padding: 2rem 2.5rem;
	background-color: $ligth-blue-color;
	color: $ligth-color;
	& h1,
	i {
		font-size: 2.6rem;
	}
	& h1 {
		font-weight: 400;
	}
}

#header-title {
	width: 35%;
	@include flexElement(center, center, column);
	position: relative;
	top: 40%;
	* {
		margin: 2rem 0;
		font-size: 3rem;
		font-weight: 400;
	}
	h1 {
		font-size: 4rem;
		font-family: "Rosario", sans-serif;
		color: $ligth-color;
		text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
	}
	button {
		padding: 1rem 3rem;
		border: none;
		border-radius: 0 2.5rem 0 2.5rem;
		box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
		@include transition(400ms);
		&:hover {
			transform: scale(1.1);
			border-radius: 2.5rem 0 2.5rem 0;
		}
	}
}
// end section: header

// section: main
main {
	@include flexElement(center, center, column);
	padding: 2rem 10rem;
	& > h1 {
		margin-bottom: 2rem;
		font-family: "Rosario", sans-serif;
		font-size: 3rem;
		font-weight: 500;
		color: $dark-gray-color;
	}
}

#img-gallery-sec {
	width: 100%;
	height: 400px;
	@include flexElement(center, space-between);
	.img-gallery-item {
		width: 32%;
		height: 100%;
		overflow: hidden;
		position: relative;
		@include transition;
		cursor: pointer;
		&:nth-child(1) {
			background: url(../images/4.jpg) center/cover no-repeat;
		}
		&:nth-child(2) {
			background: url(../images/5.jpg) center/cover no-repeat;
		}
		&:nth-child(3) {
			background: url(../images/4.jpg) center/cover no-repeat;
		}
		&:hover {
			@include boxshadowHover;
		}
		.img-caption {
			width: 70%;
			position: absolute;
			bottom: 2rem;
			left: 2rem;
			font-size: 4rem;
			color: $ligth-color;
			text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
			@include transition;
		}
	}
}

#get-more-sec {
	width: 100%;
	height: 600px;
	overflow: hidden;
	margin-top: 3rem;
	.get-more-sec-img {
		width: 100%;
		height: 100%;
		@include flexElement(center, center);
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url(../images/6.jpg) center/cover no-repeat;
	}
	.get-more-sec-caption {
		padding: 0 3rem;
		position: relative;
		bottom: 36%;
		* {
			margin: 0.5rem;
		}
		h1,
		p {
			color: $ligth-color;
			text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
		}
		h1 {
			font-size: 4.5rem;
			font-weight: 600;
			text-transform: none;
		}
		p {
			font-size: 1.8rem;
			font-weight: 400;
		}
		button {
			padding: 1.2rem 2rem;
			font-size: 1.5rem;
			border-radius: 3rem;
			background-color: $ligth-color;
			color: $dark-color;
			border: none;
			outline: none;
			text-transform: none;
			position: relative;
			z-index: 1;
			overflow: hidden;
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $ligth-color;
				border-radius: 3rem;
				z-index: -2;
			}
			&:before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0%;
				height: 100%;
				background-color: $ligth-blue-color;
				@include transition;
				border-radius: 3rem;
				z-index: -1;
			}
			&:hover {
				color: $ligth-color;
				&:before {
					width: 100%;
				}
			}
		}
	}
}
// end section: main

// section: more-to-explore
#more-to-explore-sec {
	height: 70vh;
	padding: 3rem 2rem;
	overflow: hidden;
	background-color: $bg-red-color;
	h1 {
		margin-bottom: 3rem;
		font-size: 2rem;
	}
	#more-to-explore-items {
		@include flexElement(center, space-between);
		height: 90%;
		.more-to-explore-item {
			height: 100%;
			width: 32%;
			cursor: pointer;
			background-color: $ligth-color;
			&:hover .more-to-explore-item-image {
				@include boxshadowHover;
			}
			.more-to-explore-item-image {
				width: 100%;
				height: 60%;
				position: relative;
				@include transition(200ms);
				span {
					@include flexElement(center, center);
					position: absolute;
					right: 1.5rem;
					top: 1.5rem;
					font-size: 2rem;
					width: 4rem;
					height: 4rem;
					border-radius: 50%;
					&:hover i {
						color: rgb(230, 28, 28);
						font-weight: bold;
						font-size: 2.1rem;
					}
					&::before,
					&::after {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 100%;
						@include transition(250ms);
						border-radius: 50%;
					}
					i {
						position: relative;
						@include transition;
					}
					&::after {
						box-shadow: inset 0 0 0 0 $ligth-color;
					}
					&::before {
						background: rgb(255, 166, 166);
						box-shadow: inset 0 0 0 4rem $ligth-color;
					}
					&:hover::before {
						box-shadow: inset 0 0 0 0 $ligth-color;
					}
				}
			}
			&:nth-child(1) .more-to-explore-item-image {
				background: url(../images/1.jpg) center/cover no-repeat;
			}
			&:nth-child(2) .more-to-explore-item-image {
				background: url(../images/2.jpg) center/cover no-repeat;
			}
			&:nth-child(3) .more-to-explore-item-image {
				background: url(../images/5.jpg) center/cover no-repeat;
			}
			.item-description {
				height: 40%;
				text-align: center;
				padding: 3rem;
				h2,
				p {
					font-weight: 500;
					color: $dark-color;
				}
				p {
					font-size: 1.8rem;
					margin-top: 2rem;
				}
			}
		}
	}
}
// end section: more-to-explore

// section: footer
footer {
	padding: 3rem 2rem;
	font-size: 1.6rem;
	#footer-nav {
		@include flexElement(center, space-between);
		margin: 3rem 0;
		ul {
			@include flexElement(center);
		}
		#footer-list {
			@include flexElement(center, space-between);
			li {
				margin-right: 1rem;
				& :hover {
					border-bottom: 1px solid $dark-gray-color;
				}
			}
		}
		#footer-socials {
			@include flexElement(center, space-between);
			li {
				@include transition;
				margin-left: 1rem;
				&:nth-child(1) {
					color: $dark-blue-color;
					margin-right: 2rem;
					&:hover {
						color: $dark-color;
					}
				}
				&:nth-child(2):hover {
					color: $twitter-color;
				}
				&:nth-child(3):hover {
					color: $facebook-color;
				}
				&:nth-child(4):hover {
					color: $youtube-color;
				}
				&:nth-child(5):hover {
					color: $linkedin-color;
				}
			}
		}
	}
	p {
		color: $dark-gray-color;
		font-weight: 400;
	}
	hr {
		color: $ligth-gray-color;
	}
}
// end section: footer

@import "./media-queries";
