@import "./variables";
@import "./reset";
@import "./mixins";

// global styles
.btn {
	height: 5rem;
	width: 21rem;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5rem;
	letter-spacing: 2px;
}
.btn-fill {
	background-color: $darkPurpleClr;
	color: $whiteClr;
	box-shadow: 0 25px 40px rgba(0, 0, 0, 0.25);
}

.btn-outline {
	background-color: $whiteClr;
	color: $darkPurpleClr;
	border: 1px solid $darkPurpleClr;
}
.text-primary {
	color: $lightGrayClr;
	font-size: 1.8rem;
	line-height: 2.5rem;
}
.text-secondary {
	color: $lightGrayClr;
	font-size: 1.6rem;
	line-height: 3.2rem;
}
h2 {
	font-size: 8rem;
	color: $darkPurpleClr;
	font-weight: 500;
}
h3 {
	font-size: 6rem;
	color: $darkPurpleClr;
	font-weight: 400;
}
h4 {
	font-size: 2.8rem;
	font-weight: 400;
	color: $darkPurpleClr;
	text-transform: capitalize;
}

// end global style

// section: Header
header {
	height: 160vh;
	background: url("../images/p1.jpg") center 35% / cover no-repeat;
	nav {
		padding: 4rem 5rem;
		font-size: 1.75rem;
		ul {
			@include flexElement(center, space-between);
			#logo {
				width: 7%;
				font-size: 2.5rem;
			}
			#page-nav {
				width: 30%;
				color: $darkPurpleClr;
			}
			#profile-nav {
				width: 7%;
				color: $darkPurpleClr;
			}
		}
	}
	h1 {
		margin-bottom: 9rem;
		margin-top: 6rem;
		font-size: 11rem;
		font-weight: 900;
		letter-spacing: -2px;
		color: $darkPurpleClr;
		text-align: center;
	}
	.header-info {
		width: 25%;
		margin: 0 10rem;
		@include flexElement(start, space-between, column);
		p {
			margin: 1.5rem 0;
			font-size: 1.75rem;
			color: $darkPurpleClr;
		}
		div {
			width: 80%;
			position: relative;
			input {
				width: 100%;
				height: 3rem;
				margin: 2rem 0;
				padding: 2.5rem 2rem;
				background-color: $whiteClr;
				box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.03);
				&::placeholder {
					color: $lightGrayClr;
					font-weight: 500;
				}
			}
			span {
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translate(-25%, -50%);
				width: 3.25rem;
				height: 3.25rem;
				background-color: $darkPurpleClr;
				cursor: pointer;
				i {
					font-size: 2rem;
					color: $whiteClr;
					font-weight: 200;
				}
			}
		}
		button {
			margin-top: 8rem;
		}
	}
}
// end section: Header

main {
	// section: Lenders
	.lenders {
		padding: 4rem 6rem;
		background-color: $lightPinkClr;
		&__title {
			margin-bottom: 5rem;
			font-size: 2.5rem;
			font-weight: 500;
			letter-spacing: 2px;
			text-align: center;
			text-transform: uppercase;
			color: $darkPurpleClr;
		}
		&__logoes {
			@include flexElement(center, space-evenly, row);
		}
	}
	// end section: Lenders

	// section: about us
	.about-us {
		@include flexElement(start, space-between);
		padding: 9rem 12rem;
		&__col {
			width: 46%;
			&__title {
				margin-top: 3rem;
				font-size: 8rem;
				color: $darkPurpleClr;
				font-weight: 500;
			}
			&__image {
				width: 100%;
				height: 65rem;
				overflow: hidden;
				img {
					object-fit: cover;
					height: 100%;
					width: 100%;
				}
			}
			p {
				margin: 2rem 0;
			}
			.text-primary {
				width: 75%;
			}
			.text-secondary {
				margin: 3.5rem 0;
			}
			.btn-fill {
				margin-top: 2rem;
				margin-bottom: 6rem;
			}
			.btn-outline {
				margin-top: 1rem;
			}
		}
	}
	// end section: about us

	// section: products
	.products {
		padding: 0 12rem;

		&__title {
			text-align: center;
			margin-bottom: 1.6rem;
			margin-top: 2.5rem;
		}
		& > p {
			text-align: center;
			margin-bottom: 7rem;
		}
		& > div {
			@include flexElement(start, space-between);
		}
		&__col {
			width: 46%;
			height: 105rem;
			@include flexElement(start, space-between, column);
			&__image {
				width: 100%;
				height: 65rem;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			&__product-status {
				width: 90%;
				@include flexElement(start, space-between);
				&__item {
					@include flexElement(start, space-between, column);
					span {
						&:first-child {
							padding-bottom: 0.5rem;
							border-bottom: 3px solid $darkPurpleClr;
							font-size: 3.2rem;
							font-weight: 600;
							color: $darkBlueClr;
						}
					}
				}
			}
			&__buttons {
				width: 80%;
				@include flexElement(start, space-between);
			}
		}
	}
	// end section: products

	// section: overall status
	.overall-status {
		@include flexElement(center, space-between);
		margin: 10rem 0;
		padding: 4rem 15rem;
		background-color: #fef6f0c2;
		height: 20rem;
		&__item {
			@include flexElement(center, center, column);
			span {
				&:first-child {
					font-size: 5rem;
					font-weight: 600;
					color: $darkPurpleClr;
					margin-bottom: 1.6rem;
					text-transform: capitalize;
				}
				&:last-child {
					color: $lightGrayClr;
					font-size: 2rem;
				}
			}
		}
		&__divider {
			width: 2px;
			height: 100%;
			background-color: $darkPurpleClr;
		}
	}
	// end section: overall status

	// section: best-taste
	.best-taste {
		@include flexElement(stretch, space-between);
		padding: 0 12rem;
		padding-bottom: 12rem;
		&__col {
			width: 46%;
			@include flexElement(start, space-between, column);
			padding: 8rem 0;
			p {
				line-height: 3.2rem;
			}
			&__title {
				width: 80%;
			}
		}
		&__image {
			width: 44%;
			height: 65rem;
			background-color: $darkPinkClr;
			position: relative;
			img {
				position: relative;
				object-fit: cover;
				width: 100%;
				height: 100%;
				transform: translate(5%, -5%);
				transition: 200ms;
			}
			&:hover {
				img {
					transform: translate(0, 0);
				}
			}
		}
	}
	// end section: best-taste

	// section: customers reveiw
	.customers-review {
		background-color: $lightPinkClr;
		padding: 12rem;
		padding-bottom: 14rem;
		&__header {
			width: 60%;
			margin: 0 auto;
			text-align: center;
			h2 {
				margin-bottom: 1.6rem;
				line-height: 7rem;
			}
		}
		&__carousel {
			@include flexElement(stretch, space-between);
			position: relative;
			margin-top: 7rem;
			height: 39rem;
			&__handler {
				position: absolute;
				top: -10rem;
				right: 0;
				&__btn {
					width: 5rem;
					height: 5rem;
					border-radius: 50%;
					border: 1px solid $darkPurpleClr;
					background-color: transparent;
					color: $darkPurpleClr;
					i {
						font-weight: 400;
					}
					&:hover {
						background-color: $darkPurpleClr;
						color: $whiteClr;
					}
					&:first-child {
						margin-right: 2rem;
					}
				}
			}
			&__card {
				@include flexElement(start, flex-start, column);
				height: 100%;
				width: 31%;
				padding: 5rem 3rem;
				background-color: #fff;
				&__stars {
					margin-bottom: 4rem;
					* {
						color: $yellowClr;
					}
				}
				&__comment {
					color: $lightGrayClr;
					font-size: 1.8rem;
					line-height: 3rem;
					flex-grow: 1;
				}
				&__profile {
					@include flexElement(center, flex-start);
					&__image {
						margin-right: 2rem;
						width: 5rem;
						height: 5rem;
						border-radius: 50%;
						object-fit: cover;
					}
					&__title {
						@include flexElement(start, center, column);
						&__name {
							color: $GrayClr;
							font-size: 1.8rem;
						}
						&__job {
							color: $lightGrayClr;
							font-size: 1.6rem;
						}
					}
				}
			}
		}
	}
	// end section: customers reveiw
}

// section: footer
footer {
	padding: 32rem 12rem;
	padding-bottom: 0;
	@include flexElement(start, center);
	flex-wrap: wrap;
	.footer-info {
		width: 50%;
		h4 {
			margin-bottom: 2.5rem;
		}
		p {
			width: 50%;
			margin-bottom: 6rem;
			line-height: 3.2rem;
		}
		&__socials {
			display: flex;
			&__item {
				@include flexElement(center, center);
				width: 3.6rem;
				height: 3.6rem;
				margin-right: 2.5rem;
				border-radius: 50%;
				background-color: $darkPurpleClr;
				color: #fff;
			}
		}
	}
	.footer-nav {
		@include flexElement(start, space-between);
		width: 50%;
		&__lists {
			h4 {
				margin-bottom: 2.5rem;
			}
			ul li {
				margin-bottom: 1.4rem;
				font-size: 1.8rem;
				color: $lightGrayClr;
				text-transform: capitalize;
			}
		}
	}
	.copyright {
		width: 100%;
		margin-top: 2.8rem;
		padding: 3rem 0;
		border-top: 1px solid #e0e0e0;
		text-align: center;
	}
}
// end section: footer
